section.instructions {
  background: $primary-blue;
  /*background: #e6f4ff;*/
  min-height: 100%;
  margin-bottom: 75px;

  h4.media-heading {
    color: $primary-orange;
    font-family: 'Comfortaa', cursive;
  }
  .media-object {
    width: 100%;
  }

  .media-heading {
    font-size: 3em;
  }

  .media-body {
    vertical-align: middle;
  }

  .instructions-body p {
    color: $light-gray;
    font-family: 'Slabo 27px', serif;
    font-size: 1.5em;
  }
}
