section.instructions {
  background: $primary-blue;
  min-height: 100%;

  h4.media-heading {
    color: $primary-orange;
    font-family: 'Comfortaa', cursive;
  }
  .media-object {
    width: 100%;
  }

  .media-heading {
    font-size: 3em;
  }

  .media-body {
    vertical-align: middle;
  }

  .instructions-body {
    margin-top: 100px;

    p {
      color: $light-gray;
      font-family: 'Slabo 27px', serif;
      font-size: 1.5em;
    }
  }
}
