$nav-link-margin: 10px 15px !default;
$attention-orange: #fca600;
$nav-link-color: #E6F4FF;
// $primary-blue: #7191d5;

$primary-blue: #7191D5;
$secondary-blue: #e6f4ff;

$primary-orange: #FFC000;

// $light-gray: #eee;
$light-gray: #e2e2e2;
