$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "../fonts/font-awesome-4.3.0/scss/font-awesome.scss";
// endbower

@import "variables";

@import "footer";
@import "header";
@import "home";
@import "instructions";
@import "pictures";

body,
html {
  height: 100%;
  width: 100%;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.social-media {
  position: fixed;
  bottom: 20px;
  right: 115px;
  font-size: 30px;

  a {
    color: white;
    opacity: .7;

    &:hover {
      color: white;
      text-decoration: none;
      opacity: .7;
    }
  }
}
